/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/08/22, 14:42:33
    Author     : internship
*/
h1.fontChange
{
    font-size:xx-large;
    text-decoration:underline;
    padding: 0 20px 0 0;
    display: reft;
}
div.input-size
{
    padding: 0 0 30px 0;
}
div.leftBlock
{
    float: left;
}
div.rightBlock
{
    float: left;
    font-size:xx-large;
    padding: 0 0 0 20px;
}
div.normal
{
    clear:both;
    font-size:xx-large;
}
div.buttonsize
{
    font-size:150%;
    padding: 5px 0 5px 0;
}
span.vspace
{
    padding: 10px 40px 0 0;
}
a.button {
    background-color: #0099FF;
    color: #000000;
}
a.button:hover {
    background-color: #00FFFF;
}
input[type=text]
{
    font-size: xx-large;
    width:200px;
    height:40px;
}
input[type=submit]
{
    font-size: xx-large;
    width:200px;
    height:40px;
    background-color: #0099FF;
}
input[type=file]
{
    font-size: large;
}
input[type=date]
{
    font-size: large;
}
