/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/08/22, 14:42:33
    Author     : internship
*/
h1.fontChange
{
    font-size:xx-large;
    text-decoration:underline;
    padding: 0 20px 0 0;
    display: left;
}
h2.fontChange
{
    font-size:xx-large;
    padding: 10px 0 10px 0;
    display: left;
}
div.input-size
{
     font-size:x-large;
    padding: 0 0 30px 30px;
}
div.input-large-size
{
     font-size:xx-large;
    padding: 0 0 30px 30px;
}
div.button
{ 
    font-size:xx-large;
    padding: 5px 0 5px 0;
}
div.leftBlock
{
    float: left;
}
div.rightBlock
{
    float: left;
    font-size:xx-large;
    padding: 0 0 0 20px;
}
div.normal
{
    clear:both;
    font-size:xx-large;
}
div.buttonsize
{
    font-size:150%;
    padding: 5px 0 5px 0;
}
span.vspace
{
    padding: 10px 40px 0 0;
}
a {
    display:block;
    text-align:center;
    border:2px solid;
    text-decoration: none;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background-color: #0099FF;
    color: #000000;
}
a:hover {
    border-color:#444444 #aaaaaa #aaaaaa #444444;
}
input[type=text]
{
    font-size: xx-large;
    width:200px;
    height:40px;
}
input[type=submit].large
{
    font-size: xx-large;
    width:200px;
    height:40px;
    background-color: #0099FF;
}
input[type=submit].normal
{
    font-size: x-large;
    width:150px;
    height:30px;
    background-color: #0099FF;
}
input[type=file]
{
    font-size: large;
}
input[type=date]
{
    font-size: large;
}
select
{
    font-size: large;
}