<script>
    function ErrorLecture() {
        alert("無効な講義名です");
    }
</script>    
<?php
if (isset($error)) {
    echo '<script>ErrorLecture()</script>';
}
?>
<div class="leftBlock">
    <h1 class="fontChange">講義登録</h1>
</div>
<form method = "post" action="
<?php
echo $this->Url->build(['action' => 'ent']);
?>
      ">
    <div class="normal">
        <div class="input-size">
            講義名<br/>
            <input type="text" required name="lecturename"><br/>
        </div>
        <table>
            <tr>
                <th>
                    <input type="submit" class="large" value="登録">
                </th>
                <th>
                    <?php
                    echo $this->Html->link('戻る', [
                        'action' => "index"
                    ]);
                    ?>
                </th>
            </tr>
        </table>
    </div>
</form>

